/* :root{
    --text-color:#e4f7e4;
    --background-color:#020803 ;
    --primary-color:#3bc43d;
    --secondary-color:#206a4f;
    --accent-color:#2a8d82;
} */
/* :root{
    --text-color:#efe7f8;
    --background-color:#11081b ;
    --primary-color:#ae89dd;
    --secondary-color:#812788;
    --accent-color:#c943c5;
} */
:root{
    --primary-color: #3a31d8;
    --secondary-color: #020024;
    --background-color: #010104;
    --accent-color: #0600c2;
    --white-color: #ebe9fc;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(255,172,208);
    background: radial-gradient(circle, rgba(255,172,208,1) 0%, rgba(130,94,255,1) 46%, rgba(148,197,255,1) 100%);
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 50%;
    }
        img{
            width: 50%;
            height: auto;
        }
        .button-3d {
            font-family: "Press Start 2P", system-ui;
            font-weight: 600;
            font-size: 1.5rem;
            position:relative;
            width: 200px;
            display:inline-block;
            color:#382b22;
            text-decoration:none;
            border-radius:5px;
            border:solid 2px #b18597;
            background:#ffe9e9;
            text-align:center;
            padding:16px 18px 14px;
            margin: 12px;
            
            -webkit-transition: all 0.1s;
            -moz-transition: all 0.1s;
            transition: all 0.1s;
            
            -webkit-box-shadow: 0px 10px 0px #f9c4d2;
            -moz-box-shadow: 0px 10px 0px #f9c4d2;
            box-shadow: 0px 10px 0px #ffe3e2;
            }
            
            .button-3d:hover{
                -webkit-box-shadow: 0px 6px 0px #f9c4d2;
                box-shadow: 0px 6px 0px #ffe3e2;
                position:relative;
            }
            .button-3d:active{
                -webkit-box-shadow: 0px 2px 0px #f9c4d2;
                -moz-box-shadow: 0px 2px 0px #f9c4d2;
                box-shadow: 0px 2px 0px #ffe3e2;
                position:relative;
                top:4px;
            }